/*背景のcss*/
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    font-family: Arial, sans-serif;
    overflow:hidden;
}

/* 背景画像用の設定 */
.fullscreen-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.fullscreen-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* ここで不透明度を調整 */
    pointer-events: none; /* オーバーレイがクリックイベントをブロックしないようにする */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    height:auto; /* 高さを指定 */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align:center;  
}

.header {
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container label, 
.container input {
    width: 100%;
    margin-bottom: 15px;
}

.container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.container button {
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.footer {
    margin-top: 20px;
}

.footer a {
    color: #000;
    text-decoration: underline;
}

.footer p {
    margin-bottom: 10px;
}

/* アスペクト比に応じたレイアウト調整 */
@media (min-aspect-ratio: 16/9) {
    .fullscreen-image img {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 9/16) {
    .fullscreen-image img {
        width: auto;
        height: 100%;
    }
}
