/*背景のcss*/
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    font-family: Arial, sans-serif;
    overflow:hidden;
}

 
/*body {
    margin: 0;
    font-family: Arial, sans-serif;
}*/

 
/* 背景画像用の設定 */
.fullscreen-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

 
.fullscreen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

 
.fullscreen-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    pointer-events: none; /* オーバーレイがクリックイベントをブロックしないようにする */
}
/*背景のcss記述終わり*/

 
.container1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 700px;
    max-height: 80vh;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: center;
    display: flex;
    overflow-y: auto;
}

 
.submit-button {
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    background-color: #ffa500;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.submit-button:hover {
    background-color: #ff8c00;
}

 
.submit-button:hover {
    background-color: #ff8c00;
}
 
.back-button {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    text-align: left; /* テキストを左揃え */
    position: absolute;
    left: 20px; /* 左から20pxの位置に配置 */
    top: 20px;  /* 上から20pxの位置に配置 */
}

 
h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

/* フォーム全体のCSS */
#consultation-form {
    width: 500px; /* デフォルト幅を500px */
    max-width: 100%; /* 画面幅を超えない最大幅 */
    margin: 0 auto; /* フォーム全体を中央揃え */
    box-sizing: border-box;
}

/* テキストエリア */
textarea {
    width: 100%; /* テキストエリアの幅をフォームに合わせる */
    max-width: 600px; /* 最大幅を設定 */
    height: 20vh;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ffa500;
    border-radius: 10px;
    resize: none;
    box-sizing: border-box;
}

/* スマホ用のレスポンシブ */
@media (max-width: 767px) {
    textarea {
        max-width: 100%;
        width: 100%; 
        height: 20vh;
    }
}

 




.anonymous {
    margin-bottom: 20px;
}

 
.anonymous {
    margin-bottom: 20px;
}
 
.consultation-content {
    font-size: 16px;
    margin-bottom: 20px;
}

.consultation-content p {
    margin: 0;
}

 
.consultation-content p {
    margin: 0;
}
 
/* アスペクト比に応じたレイアウト調整 */
@media (min-aspect-ratio: 16/9) {
    .fullscreen-image img {
        width: 100%;
        height: auto;
    }
}

 
@media (max-aspect-ratio: 9/16) {
    .fullscreen-image img {
        width: auto;
        height: 100%;
    }
}